<br>
<div class="jumbotron">
  <h1>Rest-Serv</h1>
  <h3>Post your resume and let the jobs fin you</h3>
  <p>
    Sign up, post your resume and info in 5 minutes of your time, and tell our employers what you're looking for and what experience you have. Our ability is to match your skills with a job opportunity that is right for you. You post your own resume and let the job find you!
  </p>
  <p>
    <%= link_to "Sign In", new_user_session_path %> or
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>
 
<div class="row">
  <div class="col-md-4">
    <h2>Solves world hunger</h2>
    <p>Bloccit will deliver food and water to those in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates poverty</h2>
    <p>Bloccit will deliver money and education to those in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>Bloccit will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
  </div>
</div>


