<br>
<div class="jumbotron">
  <h1>Rest-Serv | New York City</h1>
  <h3>Post your resume and let the jobs find you</h3>
  <p>
    Sign up, post your resume and info in 5 minutes of your time, and tell our employers what you're looking for and what experience you have. Our ability is to match your skills with a job opportunity that is right for you. You post your own resume and let the job find you!
  </p>
  <p>
    <%= link_to "Sign In", new_user_session_path %> or
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>
 
<div class="row">
  <div class="col-md-4">
    <h2>Waiters and Waitresses</h2>
    <p>Take orders and serve food and beverages to patrons at tables in dining establishment. Check with customers to ensure that they are enjoying their meals and take action to correct any problems.</p>
  </div>
  <div class="col-md-4">
    <h2>Bussers</h2>
    <p>Primary functions of the busser are to clean and reset tables, carry dishes and other tableware to the kitchen, serve items such as water, coffee and bread, replenish supplies of linens, tableware and trays, and assist servers with clearing plates and other areas of table service.</p>
  </div>
  <div class="col-md-4">
    <h2>Hostess and Host</h2>
    <p>As a host or hostess you'll be responsible for many things. You'll need to cheerfully greet guests, take them to their table and provide them with silverware and a menu.</p>
  </div>
</div>


