<h1>Edit your Resumes</h1>

</br>

<p><small>* Must fill out!</small></p>

<div class="row">
  <div class="col-md-6">
    
    <%= render partial: 'form', locals: { resume: @resume } %>
    
  </div>
</div>
