<h1>My Resumes</h1>

<% @resumes.each do |resume| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <p>
          <%= link_to resume.name, resume %>
          <%= link_to "Delete Resume", [resume], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this resume?' } %>
        </p>
      </h4>
    </div>
  </div>
<% end %>
